@model ReflectionIT.Mvc.Paging.PagingList<LanchesMac.Models.Snack>

@{
    ViewData["Title"] = "Index";
}

<h1>Snacks</h1>
<form method="get" class="form-inline">
    <input name="filter" class="form-control" placeholder="filter"
    value="@Model.RouteValue["Filter"]" />
    <button type="submit" class="btn btn-info">
        Search
    </button>
</form>

Total of snacks : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShortDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsFavoriteSnack)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InStock)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShortDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsFavoriteSnack)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InStock)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </td>
                        <td>
                            <a class="crud-link" asp-action="Edit" asp-route-id="@item.SnackId">Edit</a> |
                            <a class="crud-link" asp-action="Details" asp-route-id="@item.SnackId">Details</a> |
                            <a class="crud-link" asp-action="Delete" asp-route-id="@item.SnackId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
